*{
    margin: 0%;
    box-sizing: border-box;
    padding: 0%;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
:root{
    --link-color:aqua;
    --texto-color:black;
    --borde-color:white;
    --nombre-color:rgb(65, 167, 245);
    --degrade-color:rgba(220, 100, 206, 0.805);
    --degrade-colors:rgb(246, 248, 246);
}
body:first{
    color: aqua;
}
.menu{
    list-style: none;
    font-size: 20px;
    font-style: italic;
    text-decoration: none;
    color:var(--texto-color); 
    display: inline-flex;
    padding: 0px 20px;
}
.menu:hover{
    color:var(--link-color);
}
.menu__diseño{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 0%;
    padding-right: 0%;
    font-weight:bold;
}
.menu__img{
    width: 200px;
    height: 100px ;
    margin-right: 10%;
    border-radius: 20px;
}
.menu__redes{
    width: 50px;
    height: 50px;
    margin: 0 10px;
    border-radius: 20px;
}
.menu__redes:hover{
    width: 55px;
    height: 55px;
}
.boton__inicio{
    width:1465px;
    height:150px;
    padding:15px;
    border:5px solid var(--borde-color);
    margin:10px;
    background:linear-gradient(var(--degrade-color),var(--degrade-colors));
}
.articulo{
    display: flex;
    font-style: italic;
}
.articulo__vi{
    list-style: none;
    text-decoration: none;
    margin-top: 150px;
}
.fondo{
    width:755px;
    height:170px;
    padding:15px;
    margin-bottom:40px;
    border-radius: 20px;
    background:linear-gradient(var(--degrade-colors),rgba(142, 139, 141, 0.252));
}
.fondo__creador{
    width:500px;
    height:670px;
    padding:15px;
    border-radius: 400px;
    background:linear-gradient(var(--degrade-colors),rgba(220, 100, 206, 0.319));
}
.articulo__nombre{
    font-size: 60px;
    color:var(--nombre-color);
}
.articulo__intro{
    color:var(--texto-color);
    font-size: 35px;
    text-decoration: none;
}
.articulo__intro:hover{
    color:var(--link-color);
}
.articulo__profesion{
    color:var(--texto-color);
    font-size: 20px;
}
.articulo__codigos{
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-left: 25px;
}
.articulo__codigos:hover{
    width: 55px;
    height: 55px;
}
.articulo__img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-top:20px;
    margin-left:25px ;
}
.boton__medio{
    width:1465px;
    height:700px;
    padding:15px;
    border:5px solid var(--borde-color);
    margin:10px;
    background:linear-gradient(var(--degrade-colors),var(--degrade-color));
}
.skill__img{
    width: 300px;
    height: 300px;
    margin: 10px;
}
.skill__porcentaje{
    width: 1000px;
    height: 150px;
}
.skill__medio{
    width:1465px;
    height:1650px;
    padding:15px;
    border:5px solid var(--borde-color);
    margin:10px;
    background:linear-gradient(var(--degrade-colors),var(--degrade-color));
}
.proyecto__img{
    width: 210px;
    height: 210px;
    margin: 10px 50px;
    list-style: none;
    display: flex;
}
.proyecto__medio{
    width:1465px;
    height:350px;
    padding:15px;
    border:5px solid var(--borde-color);
    margin:10px;
    background:linear-gradient(var(--degrade-colors),var(--degrade-color));
}
.formulario__texto{
    font-size: 25px;
    font-style: italic;
    list-style: none;
    text-align: center;
}
.formulario__img{
    width: 150px;
    height: 150px;
    margin: 20px;
    list-style: none;
    display: flex;
}
.formulario__textoo{
    font-size: 35px;
    font-style: italic;
    list-style: none;}
.formulario__medio{
    width:1465px;
    height:1200px;
    padding:15px;
    border:5px solid var(--borde-color);
    margin:10px;
    background:linear-gradient(var(--degrade-colors),var(--degrade-color));
}
.informacion__texto{
    font-size: 25px;
    font-style: italic;
    list-style: none;
} 
.informacion__medio{
    width:1465px;
    height:900px;
    padding:15px;
    border:5px solid var(--borde-color);
    margin:10px;
    background:linear-gradient(var(--degrade-colors),var(--degrade-color));
}